body {
    color: aqua;
    p {
        background-color: antiquewhite;
        &:hover {
            text-decoration: none;
        }
    }
    a {
        text-decoration: none;
    }
    box-sizing: border-box;
}